.tab {
    margin: 20px auto;
    width: 600px;
}

.tab .tip {
    position: relative;
    top: 1px;
}

.tab .tip li {
    float: left;
    margin-right: 10px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #AAA;
    cursor: pointer;
}

.tab .tip li.cur {
    border-bottom-color: #FFF;
}

.tab .contain {
    display: none;
    line-height: 200px;
    text-align: center;
    border: 1px solid #AAA;
}

.tab .contain.cur {
    display: block;
}
